.mdaw__nav {
    display: flex;
    flex-flow: column nowrap;
    padding: 8px 16px;
    background-color: var(--bg-color-light);
}

.mdaw__nav-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    gap: 16px;
    max-width: var(--site-width);
    width: 100%;
    margin: 0 auto;
}